DATABASE="mongodb+srv://username:password@cluster0.nguon4a.mongodb.net/db-name"
JWT_SECRET="CHUOINGAUNHIEN"
EMAIL_USERNAME="lolclog08@gmail.com" #email cua mat khau ung dung
EMAIL_PASSWORD="MẬT KHẨU ỨNG DỤNG" #mật khẩu ứng dụng
EMAIL_SECURE="false" #false: http , true:https